<div style="margin:56px 393px 0 415px; background-color: #f5f8f9">
  <table class="table table-bordered">

    <tbody>
      <tr>
        <td scope="row"><img width=" 130px" height="90px" src="../../../assets/talent.png "> </td>
        <td><img width=" 130px" height="90px" src="../../../assets/angular.png "></td>
        <td><img width=" 130px" height="90px" src="../../../assets/aws.png "></td>
      </tr>
      <tr>
        <td scope="row"><img width=" 130px" height="90px" src="../../../assets/bi.jpg"></td>
        <td><img width=" 130px" height="90px" src="../../../assets/java.png"></td>
        <td><img width=" 130px" height="90px" src="../../../assets/javascirpt.png"></td>
      </tr>
      <tr>
        <td scope="row"><img width=" 130px" height="90px" src="../../../assets/marketing.png"></td>
        <td><img width=" 130px" height="90px" src="../../../assets/python.jpg "></td>
        <td><img width=" 130px" height="90px" src="../../../assets/react.png "></td>
      </tr>

    </tbody>
  </table>
</div>
