<div class="description">
  vous avez obtenus un total de 400 point suite à vos examens
</div>
<div class="cadeaux">
  <ul>
    RECOMPONSE
    <li>Ticket Resturant ----> 300 points</li>
    <li>Cheque vaccance ----> 500 points</li>
    <li>Bon d'achat ----> 280 points</li>
  </ul>
</div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
