<div style="margin: 49px 572px 0 333px; display: flex;" class="col-sm-12 ; ">
  <input type="text" placeholder="recherche">

</div>

<div style="margin: 37px 303px 10px 340px;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><a class="menu-button" style="color: dodgerblue !important;" scope="col">Technologie</a>
        </th>
        <th><a class="menu-button" scope="col">Formateur</a>
        </th>
        <th> <a class="menu-button" scope="col">Disponibilité</a>
        </th>
        <th> <a class="menu-button" scope="col">Niveau d'experience
            requis</a></th>
      </tr>
    </thead>
  </table>
</div>

<div style="margin:70px 200px 0 200px; background-color: #f5f8f9">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nom de formation</th>
        <th scope="col">Formateur</th>
        <th scope="col">Technologie</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Developpement</td>
        <td>Mr.ROBOT</td>
        <td>React</td>
        <td>en ligne</td>
      </tr>
      <tr>
        <td scope="row">Réseau</td>
        <td>Mr Julien</td>
        <td>Linux</td>
        <td>hors ligne</td>
      </tr>
      <tr>
        <td scope="row">Management</td>
        <td>Quillaume S</td>
        <td>Cycle V</td>
        <td>en ligne</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
