<div style="margin: 74px 572px 0 403px;">
  <table class="table table-bordered">
    <thead>
      <tr>

        <th><a class="menu-button" style="color: dodgerblue !important;" scope="col" routerLinkActive="active">Mr
            ROBOT</a>
        </th>
        <th> <a class="menu-button" scope="col" routerLinkActive="active">Julien</a>
        </th>
        <th> <a class="menu-button" scope="col" routerLinkActive="active">Guillaume</a></th>
      </tr>
    </thead>
  </table>
</div>

<div style="margin: 49px 572px 0 333px; display: -webkit-inline-box;">
  <select name="pets" id="pet-select">
    <option value="">--choix de la formation ou vous voulez poser vos question--</option>
    <option>Cybersécurité</option>
    <option>Docker Desktop</option>
    <option>Amazone AWS</option>
    <option>Marketing</option>
  </select>

  <div class="message">
    <textarea style="width: 260px; height: 80px;" placeholder="poser vos questions"></textarea>
    <button type="button" class="btn btn-primary">Envoyer</button>
  </div>
</div>
