<div style="margin: 70px 0 0 340px; display: flex; ">
  <span style="margin-right: 40px; font-family: serif;
    font-size: 18px;">Mode White/Black</span>
  <div>
    <button class="btn btn-primary" type="button">Activé</button>
    <button class="btn btn-primary" type="button">Desactivé</button>
  </div>
</div>

<div style="margin: 40px 0 0 340px; display: flex; ">
  <span style="margin-right: 40px; font-family: serif;
    font-size: 18px;">Notifications</span>

</div>
<div style="margin: 40px 0 0 340px; ">
  <button type="button" class="btn btn-secondary">Open recent </button>
</div>
