<div style="margin:70px 200px 0 200px; background-color: #f5f8f9">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nom de formation</th>
        <th scope="col">Formateur</th>
        <th scope="col">Technologie</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Developpement</td>
        <td>Mr.ROBOT</td>
        <td>React</td>
        <td>20%</td>
      </tr>
      <tr>
        <td scope="row">Réseau</td>
        <td>Mr Julien</td>
        <td>Linux</td>
        <td>30%</td>
      </tr>
      <tr>
        <td scope="row">Management</td>
        <td>Quillaume S</td>
        <td>Cycle V</td>
        <td>10%</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<!--

<div class="row">
  <div class="col-12">
    <form [formGroup]="prodAddForm" (ngSubmit)="saveFormation()">

      <div class="form-group">
        <label for="">nom de la formation</label>
        <input type="text" class="form-control" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="">Formatuer</label>
        <input type="text" class="form-control" formControlName="formateur">
      </div>
      <div class="form-group">
        <label for="">Technologie </label>
        <input type="text" class="form-control" formControlName="technologie">
      </div>

      <div class="form-group mt-2">
        <button [disabled]="! prodAddForm.valid" type="submit" class="btn btn-success">Save</button>
      </div>

    </form>
  </div>
</div>
-->
